<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recepie Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/recipes">Recepies</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li>
            <a [routerLink]="['/signup']">Register</a>
          </li>
          <li>
            <a [routerLink]="['/signin']">Login</a>
          </li>
        </ng-template>
        <li>
          <a href="javascript:;"
            (click)="onLogout()"
            *ngIf="authService.isAuthenticated()">Logout</a>
        </li>
        <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
          <a href="javascript:;" class="dropdown-toggle" #dropdown appDropdown>
            Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:;" (click)="onSaveData()">Save Data</a>
            </li>
            <li>
              <a href="javascript:;" (click)="onFetchData()">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
